@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make components (pseudo-el) after */

@layer components {
    .active {
        @apply after:content-[''] after:absolute after:w-10 after:h-10 after:bg-red-400 after:inline-block after:rounded-full after:ml-6
    }
    .active-bg {
        @apply bg-gray-300
    }
}